nav {
  height: 72px;
  padding: 12px 73px 0 8px;

  border: 1px solid rgba(106, 126, 138, 0.1);

  .profile {
    .default {
      width: 35px;
      height: 35px;
      margin-top: 6px;

      border-radius: 50%;
      background: #6a7e8a;
    }

    .greeting {
      margin: 11px 15px 0 9px;
    }

    .drop-down {
      margin-top: 12px;
    }
  }
}

.side-nav {
  width: 82px;
  height: 90vh;

  border: 1px solid rgba(106, 126, 138, 0.1);

  .paths {
    position: relative;
    padding-top: 73px;
    height: 245px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .active {
      position: absolute;
      width: 5px;
      height: 53px;
      bottom: 56px;
      left: 0;

      background: #2bda53;
    }
  }
}

.emp-table {
  width: 100%;
  height: 90vh;
  padding: 88px 72px 0 73px;

  background: #f6f8f8;

  .heading {
    .h-text {
      margin-top: 5px;
      font-size: 26px;
    }

    button {
      width: 200px;
      height: 44px;

      color: #fff;
      background: #2bda53;
      box-shadow: 0px 7px 15px rgba(43, 218, 83, 0.2);
      border-radius: 3px;
      border: none;
    }
  }

  .comp-det {
    height: 114px;
    width: 100%;
    margin-top: 32px;
    padding: 32px 44px 31px 27px;

    background: #fff;

    .adress {
      margin-top: 10px;
    }
  }

  .activity-bar {
    width: 100%;
    height: 34px;
    margin: 35px 0 14px;

    .act-left {
      select {
        height: 34px;
        width: 146px;
        margin-right: 12px;

        background: #ffffff;
        border: 1px solid rgba(106, 126, 138, 0.4);
        border-radius: 3px;
      }

      button {
        width: 118px;
        height: 34px;
        margin-right: 17px;

        background: #2bda53;
        border-radius: 3px;
        border: none;
        color: #fff;
      }

      input {
        height: 34px;
        width: 332px;
        padding: 9px 0 9px 12px;

        color: rgba(106, 126, 138, 0.4);
        border: 1px solid rgba(106, 126, 138, 0.4);
        border-radius: 3px;
      }
    }

    .page-bar {
      height: 34px;
      width: 96px;
      .page {
        height: 100%;
        margin-right: 10px;
        .valid {
          width: 21px;
          height: 21px;
          margin-right: 3px;

          border: 1px solid rgba(1, 60, 97, 0.1);
          border-radius: 3px;
          text-align: center;
        }

        .pages {
          margin-left: 4px;
        }
      }

      .nx-pv {
        width: 48px;
        gap: 7px;
        .col {
          width: 16.1px;
          height: 16.1px;

          border-radius: 50%;
          background: #2bda53;

          .icon {
            height: 100%;
            text-align: center;
            color: #fff;
          }
        }
      }
    }
  }

  .employee-container {
    ul {
      display: grid;
      grid-template-columns: 0.08fr 0.27fr 0.27fr 0.43fr 0.3fr 0.13fr 0.05fr;
      padding: 1em;
    }

    .details-head {
      height: 54px;
      color: #013c61;
      margin-bottom: -3vh;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 14px;
    }

    #details {
      color: #6a7e8a;

      background-color: white;
      border-radius: 5px;
      margin: 1em 0;
    }
  }
}

.container {
  width: 100vw;
  height: 100vh;

  .hero {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .form {
    width: 100%;
    height: 100vh;
    padding: 99px 180px 10px 120px;

    .header {
      margin-bottom: 18px;

      font-size: 34px;
      font-weight: 500;
      line-height: 46px;
      letter-spacing: 0.4000000059604645px;
      text-align: left;
    }

    .sub-heading {
      font-style: normal;
      font-size: 18px;
      line-height: 18px;

      a {
        color: #2bda53;
        text-decoration: none;
      }
    }

    form {
      position: relative;
      width: 590px;
      height: 510px;
      margin-top: 40px;
      padding: 50px 57px;

      background: #ffffff;
      box-shadow: 0px 20px 50px #eaeee9;
      border-radius: 5px;

      .name {
        .names {
          width: 40%;
        }
      }

      .mail {
        width: 100%;
        margin-top: 45px;
      }

      button {
        height: 44px;
        width: 200px;
        margin-top: 52px;
        position: absolute;
        right: 57px;
        align-items: flex-end;

        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        text-align: center;

        color: #ffffff;

        outline: none;
        border: none;
        background: #2bda53;
        box-shadow: 0px 7px 15px rgba(43, 218, 83, 0.2);
        border-radius: 3px;
      }
    }
  }
}
