* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

* input {
  color: #013c61;
}

*:focus,
*:active {
  border: none;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: "Roboto", sans-serif;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-sa {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex-dir-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-al-i {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.txt {
  color: #013c61;
}

.big-txt {
  font-size: 36px;
}

.mid-txt {
  font-size: 22px;
}

label {
  margin-bottom: 12px;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #6a7e8a;
}

input {
  height: 25px;
  margin-bottom: 15px;
  padding-right: 28px;
  border: none;
  font-size: 20px;
  line-height: 25px;
  /* identical to box height, or 125% */
  letter-spacing: -0.114286px;
  color: #013c61;
}

.input-border {
  position: relative;
  height: 75px;
  border-bottom: 1px solid #e6e7eb;
}

.input-border .icon {
  position: absolute;
  right: 0;
  top: 40px;
}

input:focus {
  outline: none;
}

nav {
  height: 72px;
  padding: 12px 73px 0 8px;
  border: 1px solid rgba(106, 126, 138, 0.1);
}

nav .profile .default {
  width: 35px;
  height: 35px;
  margin-top: 6px;
  border-radius: 50%;
  background: #6a7e8a;
}

nav .profile .greeting {
  margin: 11px 15px 0 9px;
}

nav .profile .drop-down {
  margin-top: 12px;
}

.side-nav {
  width: 82px;
  height: 90vh;
  border: 1px solid rgba(106, 126, 138, 0.1);
}

.side-nav .paths {
  position: relative;
  padding-top: 73px;
  height: 245px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side-nav .paths .active {
  position: absolute;
  width: 5px;
  height: 53px;
  bottom: 56px;
  left: 0;
  background: #2bda53;
}

.emp-table {
  width: 100%;
  height: 90vh;
  padding: 88px 72px 0 73px;
  background: #f6f8f8;
}

.emp-table .heading .h-text {
  margin-top: 5px;
  font-size: 26px;
}

.emp-table .heading button {
  width: 200px;
  height: 44px;
  color: #fff;
  background: #2bda53;
  -webkit-box-shadow: 0px 7px 15px rgba(43, 218, 83, 0.2);
          box-shadow: 0px 7px 15px rgba(43, 218, 83, 0.2);
  border-radius: 3px;
  border: none;
}

.emp-table .comp-det {
  height: 114px;
  width: 100%;
  margin-top: 32px;
  padding: 32px 44px 31px 27px;
  background: #fff;
}

.emp-table .comp-det .adress {
  margin-top: 10px;
}

.emp-table .activity-bar {
  width: 100%;
  height: 34px;
  margin: 35px 0 14px;
}

.emp-table .activity-bar .act-left select {
  height: 34px;
  width: 146px;
  margin-right: 12px;
  background: #ffffff;
  border: 1px solid rgba(106, 126, 138, 0.4);
  border-radius: 3px;
}

.emp-table .activity-bar .act-left button {
  width: 118px;
  height: 34px;
  margin-right: 17px;
  background: #2bda53;
  border-radius: 3px;
  border: none;
  color: #fff;
}

.emp-table .activity-bar .act-left input {
  height: 34px;
  width: 332px;
  padding: 9px 0 9px 12px;
  color: rgba(106, 126, 138, 0.4);
  border: 1px solid rgba(106, 126, 138, 0.4);
  border-radius: 3px;
}

.emp-table .activity-bar .page-bar {
  height: 34px;
  width: 96px;
}

.emp-table .activity-bar .page-bar .page {
  height: 100%;
  margin-right: 10px;
}

.emp-table .activity-bar .page-bar .page .valid {
  width: 21px;
  height: 21px;
  margin-right: 3px;
  border: 1px solid rgba(1, 60, 97, 0.1);
  border-radius: 3px;
  text-align: center;
}

.emp-table .activity-bar .page-bar .page .pages {
  margin-left: 4px;
}

.emp-table .activity-bar .page-bar .nx-pv {
  width: 48px;
  gap: 7px;
}

.emp-table .activity-bar .page-bar .nx-pv .col {
  width: 16.1px;
  height: 16.1px;
  border-radius: 50%;
  background: #2bda53;
}

.emp-table .activity-bar .page-bar .nx-pv .col .icon {
  height: 100%;
  text-align: center;
  color: #fff;
}

.emp-table .employee-container ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.08fr 0.27fr 0.27fr 0.43fr 0.3fr 0.13fr 0.05fr;
      grid-template-columns: 0.08fr 0.27fr 0.27fr 0.43fr 0.3fr 0.13fr 0.05fr;
  padding: 1em;
}

.emp-table .employee-container .details-head {
  height: 54px;
  color: #013c61;
  margin-bottom: -3vh;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
}

.emp-table .employee-container #details {
  color: #6a7e8a;
  background-color: white;
  border-radius: 5px;
  margin: 1em 0;
}

.container {
  width: 100vw;
  height: 100vh;
}

.container .hero {
  width: 100%;
  height: 100%;
}

.container .hero img {
  width: 100%;
  height: 100%;
}

.container .form {
  width: 100%;
  height: 100vh;
  padding: 99px 180px 10px 120px;
}

.container .form .header {
  margin-bottom: 18px;
  font-size: 34px;
  font-weight: 500;
  line-height: 46px;
  letter-spacing: 0.4000000059604645px;
  text-align: left;
}

.container .form .sub-heading {
  font-style: normal;
  font-size: 18px;
  line-height: 18px;
}

.container .form .sub-heading a {
  color: #2bda53;
  text-decoration: none;
}

.container .form form {
  position: relative;
  width: 590px;
  height: 510px;
  margin-top: 40px;
  padding: 50px 57px;
  background: #ffffff;
  -webkit-box-shadow: 0px 20px 50px #eaeee9;
          box-shadow: 0px 20px 50px #eaeee9;
  border-radius: 5px;
}

.container .form form .name .names {
  width: 40%;
}

.container .form form .mail {
  width: 100%;
  margin-top: 45px;
}

.container .form form button {
  height: 44px;
  width: 200px;
  margin-top: 52px;
  position: absolute;
  right: 57px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  outline: none;
  border: none;
  background: #2bda53;
  -webkit-box-shadow: 0px 7px 15px rgba(43, 218, 83, 0.2);
          box-shadow: 0px 7px 15px rgba(43, 218, 83, 0.2);
  border-radius: 3px;
}
/*# sourceMappingURL=styles.css.map */